<div class="sidebar-module about">
  <h4>{{ site.locales[site.default_locale].Aboutme }}</h4>
  <img title="{{site.author}}" src="{{site.aboutme_photo}}" alt="{{site.author}}"/>
  <span>{{site.aboutme}}</span>
  <br />

  {% if site.ShowContactInfo == "True" %}
  <ul style-"list-style-type:none">
  {% if site.github_username != empty %}
    <li>
      <a href="https://github.com/{{ site.github_username }}" title="GithubID: {{site.github_username}}">Github</a>
    </li>
  {% endif %}
  {% if site.googleplus_username != empty %}
    <li>
      <a href="https://plus.google.com/+{{ site.googleplus_username }}" title="Google+">Google +</a>
    </li>
  {% endif %}
  {% if site.linkedin_username != empty %}
    <li>
      <a href="https://linkedin.com/in/{{ site.linkedin_username }}" title="LinkedInID">LinkedIn</a>
    </li>
  {% endif %}
  {%if site.instagram_username != empty %}
  <li>
    <a href="https://instagram.com/{{ site.instagram_username }}" title="InstagramID:  {{site.instagram_username}}">Instagram</a>
  </li>
  {% endif %}
  <li>
    <a href='https://ko-fi.com/446NAH0GWKXB' target='_blank'>
      <img height='5em,' width='auto' style='border:0px;height:32px;' src='https://az743702.vo.msecnd.net/cdn/kofi1.png?v=a' border='0' alt='Buy Me a Coffee at ko-fi.com' />
    </a>
  </li>
  
  </ul>
  {% endif %}

</div>
