<div class="sidebar-module about">
  <h4>{{ site.locales[site.default_locale].Aboutme }}</h4>
  <img title="{{site.author}}" src="{{site.aboutme_photo}}" alt="{{site.author}}"/>
  <span>{{site.aboutme}}</span>
  <br />

  {% if site.ShowContactInfo == "True" %}
  <ul style-"list-style-type:none">
  {% if site.github_username != empty %}
    <li>
      <a href="https://github.com/{{ site.github_username }}" title="GithubID: {{site.github_username}}">Github</a>
    </li>
  {% endif %}
  {% if site.googleplus_username != empty %}
    <li>
      <a href="https://plus.google.com/+{{ site.googleplus_username }}" title="Google+">Google +</a>
    </li>
  {% endif %}
    <li>
      <a href="https://drive.google.com/folderview?id=0B2RH_BSaD6YPUko5QVRzZFg2MEk&usp=sharing" title="Google Drive shared folder">Data and 
Graphs</a>
    </li>
  <li>
    <a href="https://drive.google.com/folderview?id=0B2RH_BSaD6YPY1dZR0x1S2QxZ1U&usp=sharing" title="Google Drive shared 
folder">Screenshots</a>
  </li>
  <li>
    <a href='https://ko-fi.com/446NAH0GWKXB' target='_blank'>
      <img height='5em,' width='auto' style='border:0px;height:32px;' src='https://az743702.vo.msecnd.net/cdn/kofi1.png?v=a' border='0' 
alt='Buy Me a Coffee at ko-fi.com' />
    </a>
  </li>
  
  </ul>
  {% endif %}

</div>
