---
layout: default
---
<div class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 itemprop="name" class="post-title">{{ page.title }}</h1>
    <meta itemprop="keywords" content="{{ page.tags | join: ',' }}" />
    <p class="post-meta">
    {{ site.locales[site.default_locale].PostedInCategories }}
    {% for cat in page.categories %}
    <a href="{{site.baseurl}}/categories/#{{ cat }}">{{ cat }}</a>
    {% endfor %}
    {% if page.tags != empty %}
    {{ site.locales[site.default_locale].Taggedwith }}
    {% for tag in page.tags %}
    <a href="{{ site.baseurl }}/tags/#{{ tag }}" title="{{ tag }}">{{ tag }} </a>{% unless page.tags.last == tag %}, {% endunless %}
    {% endfor %}
    {% endif %}
    <time itemprop="datePublished" datetime="{{ page.date | date: '%Y-%m-%d' }}">
    {{ site.locales[site.default_locale].PostDate }}{{ page.date | date: "%b %-d, %Y" }}
    </time>
    </p>
  </header>

  <article class="post-content" itemprop="articleBody">
    {{ content }}
  </article>
  <hr />
</div>

<!-- social sharing -->
<a href="https://twitter.com/share?
    text={{ page.title }}
    &url={{ page.shorturl }}
    &via=tomhohenstein">

    <!-- use the twitter logo for the link -->
    <img alt="twt logo"
        class="footer-icon"
        src="/images/logo_twitter.png">

</a>

<a href="https://www.facebook.com/dialog/share
    ?app_id=946372735391329&display=popup
    &href={{ site.url }}{{ page.url }}
    &redirect_uri={{ site.url }}{{ page.url }}">

    <!-- use the facebook logo for the link -->
    <img
        alt="fb logo"
        class="footer-icon"
        src="/images/logo_facebook.png">
</a>

<a href="http://www.linkedin.com/shareArticle
    ?mini=true
    &url={{ site.url }}{{ page.url }}
    &title={{ page.title }}
    &source={{ site.title }}">

    <!-- use the linkedin logo for the link -->
    <img alt="lnkdn logo"
        class="footer-icon"
        src="/images/logo_linkedin.png">

</a>

<a href="https://plus.google.com/share?
    url=http://tomhohenstein.com{{ page.url }}
    &hl=en-US"
    onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">

    <!-- use the google+ logo for the link -->
    <img
        alt="g+ logo"
        class="footer-icon"
        src="/images/logo_googleplus.png">
</a>

{% include page_pagination.html%}
{% include comments.html %}